.header {
  --header-column-gap: 8px;

  position: relative;
  background-color: rgb(var(--color-page-background));
  color: rgb(var(--color-text));
  display: flex;
  flex-direction: column;
  justify-content: center;
}
/*safari iphone default text-color*/
.header a:not(.button),
.header a:not(.button):hover {
  color: inherit;
}
.header .header__menu-drawer .modal__content {
  color: rgb(var(--color-text));
}
.header .search-modal__content {
  color: rgb(var(--color-text));
}
@media screen and (max-width: 959px) {
  .header {
    --header-column-gap: 0px;

    min-height: 60px;
  }
}
.header #cart-icon-bubble-wrapper {
  display: flex;
  height: 28px;
  width: 22px;
  justify-content: center;
  align-items: center;
}

.header__container {
  display: grid;
  column-gap: var(--header-column-gap);
  align-items: center;
}

.header__container--left-left {
  grid-template: "logo menu tools icons" auto / auto 1fr auto auto;
}

@media screen and (min-width: 960px) {
  .header__container--left-left .header__heading {
    margin-right: 12px;
  }
}

.header__container--middle-left {
  grid-template: "menu logo buttons" auto / 1fr auto 1fr;
}

.header__container--left-line {
  grid-template:
    "logo . tools icons" auto
    "menu menu menu menu" auto
    / auto 1fr auto auto;
}

.header__container--left-line .header-inline-menus__link:first-child {
  padding-left: 0;
}

.header__container--middle-line {
  grid-template:
    "tools logo icons" auto
    "menu menu menu" auto
    / 1fr 1fr 1fr;
}

.header__container--middle-line .header__inline-nav {
  margin: auto;
}

.header__nav-style--drawer.header__container--left-line,
.header__nav-style--drawer.header__container--left-left {
  grid-template: "drawer_menu logo tools icons" auto / auto 1fr auto auto;
}

.header__nav-style--drawer.header__container--left-line .header__heading,
.header__nav-style--drawer.header__container--left-left .header__heading {
  width: 100%;
}

.header__nav-style--drawer.header__container--middle-line,
.header__nav-style--drawer.header__container--middle-left {
  grid-template: "drawer_menu logo buttons" auto / 1fr auto 1fr;
}

.header__container--left-line .header__inline-nav--has-divider::before,
.header__container--middle-line .header__inline-nav--has-divider::before {
  position: absolute;
  content: "";
  width: 100%;
  left: 0;
  border-top: 1px solid rgba(var(--color-text), 0.15);
}

.header__drawer-nav {
  grid-area: drawer_menu;
}

.header__inline-nav {
  grid-area: menu;
}

.header__buttons {
  display: flex;
  justify-content: flex-end;
  grid-area: buttons;
}

.header__tools {
  grid-area: tools;
  justify-self: flex-start;
}

.header__icons {
  grid-area: icons;
  justify-self: flex-end;
}

.header__icons,
.header__tools {
  display: flex;
  align-items: center;
  margin-left: calc(-1 * var(--header-column-gap));
}

.header__icons > *,
.header__tools > * {
  margin-left: var(--header-column-gap);
}

.header__icon-button {
  display: flex;
  padding: 6px;
}

.header__cart-point {
  background-color: rgba(var(--color-cart-dot));
  border-radius: 20px;
  color: rgba(var(--color-cart-dot-text));
  bottom: 1px;
  left: 13px;
  line-height: 20px;
  min-width: 20px;
  padding: 0 6px;
  position: absolute;
  text-align: center;
  white-space: nowrap;
  max-width: 60px;
  text-overflow: ellipsis;
  overflow: hidden;
  z-index: 1;
}

#shopline-section-header {
  position: relative;
  z-index: 10;
}

#shopline-section-header.animate {
  transition: transform 0.15s ease-out;
}

#shopline-section-header.shopline-section-header-sticky {
  position: sticky;
  top: var(--header-sticky-top, 0px);
}

@media (max-width: 959px) {
  #shopline-section-header.shopline-section-header-sticky {
    top: var(--mobile-header-sticky-top, 0px);
  }
}

#shopline-section-header.shopline-section-header-hidden {
  transform: translateY(calc(-100% - var(--header-sticky-top, 0px)));
}

@media (max-width: 959px) {
  #shopline-section-header.shopline-section-header-hidden
    #shopline-section-header.shopline-section-header-sticky {
    transform: translateY(calc(-100% - var(--mobile-header-sticky-top, 0px)));
  }
}

#shopline-section-header.shopline-section-header-hidden.menu-open {
  transform: unset;
}

#shopline-section-header.shopline-section-header-sticky--always {
  position: sticky;
  top: var(--header-sticky-top, 0px);
  animation: modalSlideInTop 0.4s cubic-bezier(0.165, 0.84, 0.44, 1);
}

@media (max-width: 959px) {
  #shopline-section-header.shopline-section-header-sticky--always {
    top: var(--mobile-header-sticky-top, 0px);
  }
}

.header__heading {
  grid-area: logo;
  margin: 14px auto;
  display: flex;
}

@media screen and (max-width: 959px) {
  .header__heading {
    margin: 10px auto;
  }
}

.header__heading-link {
  color: rgb(var(--color-text));
  font-size: 30px;
  text-align: left;
  text-decoration: none;
}

.header__heading-logo {
  display: block;
  width: var(--header-logo-pc-width, 200px);
  height: auto;
}

@media screen and (max-width: 959px) {
  .header__heading-logo {
    width: var(--header-logo-mobile-width, 100px);
  }
}

.menus__link {
  position: relative;
  display: inline-block;
  text-decoration: none;
  color: rgb(var(--color-text));
  opacity: 1;
  transition: opacity 0.2s;
  cursor: pointer;

  /* &:hover {
    opacity: 0.5;
  } */
}

.header__inline-menus {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  padding: 0;
}

.header-inline-menus__link {
  --padding-inline: 16px;
  --padding-block: 12px;

  display: inline-flex;
  align-items: center;
  font-weight: 500;
  padding: var(--padding-block) var(--padding-inline);
}

.header-inline-menus__item:hover .header-inline-menus__link,
.header-inline-menus__item:focus .header-inline-menus__link {
  text-decoration: underline;
  text-underline-offset: 6px;
}

.header-inline-menus__item--has-submenu {
  position: relative;
}

.header-inline-menus__item--has-submenu:hover .header__inline-submenus,
.header-inline-menus__item--has-submenu:focus .header__inline-submenus {
  pointer-events: initial;
  visibility: visible;
  opacity: 1;
  transform: translateY(0);
}

.header-inline-menus__item--has-submenu .header-inline-menus__arrow {
  display: initial;
}

.header-inline-menus__item.is-megamenu {
  position: static;
}

.header-inline-menus__arrow {
  display: none;
  margin-left: 5px;
}

.header__inline-submenus {
  display: block;
  position: absolute;
  left: 0;
  pointer-events: none;
  visibility: hidden;
  transform: translateY(-10px);
  opacity: 0;
  transition: all 0.2s;
  background-color: rgba(var(--color-page-background));
  width: 100%;
  z-index: 10;
}

.header__inline-submenus.header-dropdown-menu {
  width: 200px;
  max-height: 760px;
  overflow: auto;
  padding: 10px 0 5px;
  box-shadow: 0 10px 20px rgb(0 0 0 / 9%);
}

.header__inline-submenus.header-dropdown-menu ul {
  padding: 0;
}

.header__inline-submenus.header-megamenu {
  padding: 40px 0;
  box-shadow: 0 10px 20px rgb(0 0 0 / 9%);
}

.header-inline-submenus__link {
  --padding-inline: 16px;
  --padding-block: 8px;

  display: inline-block;
  padding: 8px 16px;
}

.header-inline-submenus__link:hover {
  text-decoration: underline !important;
  text-underline-offset: 6px;
}

.megamenu__list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
  gap: 20px;
  list-style: none;
  margin: auto;
}

.megamenu__list .menus__link:not(a) {
  cursor: default;
}

.megamenu__list .menus__link:not(a):hover {
  opacity: 1;
}

.megamenu__list a.menus__link:hover {
  text-decoration: underline;
  text-underline-offset: 6px;
}

.megamenu-list__submenu {
  padding: 0;
}

.megamenu-submenu__item + .megamenu-submenu__item {
  margin-top: 8px;
}

.megamenu-list__item-title {
  display: inline-block;
  margin-bottom: 16px;
}

.header__menu-drawer .drawer__main {
  margin-left: calc(-1 * var(--drawer-padding-inline));
  margin-right: calc(-1 * var(--drawer-padding-inline));
}

.header__user-center-button {
  display: inline-flex;
  align-items: center;
  cursor: pointer;
  letter-spacing: 0.1em;
}

.header__user-center-button .icon {
  margin-right: 8px;
}

.drawer-menus__sub-menus {
  background: rgba(var(--color-text), 0.05);
}

.drawer-menus__sub-menus .drawer-menus__sub-menus {
  background: transparent;
}

.drawer-menus__sub-menus .drawer-menus__sub-menus .drawer-menus__sub-item {
  padding-left: calc(var(--drawer-padding-inline) + 15px);
}

.drawer-menus__item,
.drawer-menus__sub-item {
  display: flex;
  align-items: center;
  justify-content: space-between;

  cursor: pointer;
  text-decoration: none;
  text-transform: capitalize;

  background: transparent;
  transition: background 0.2s;
}

.drawer-menus__item {
  padding: 12px var(--drawer-padding-inline);
}

@media screen and (min-width: 960px) {
  .drawer-menus__item:hover {
    background: rgba(var(--color-text), 0.05);
  }
}

.drawer-menus__sub-item {
  padding: 10px var(--drawer-padding-inline);
}

.drawer-menus__item-icon {
  display: flex;
  padding: 0 4px;
}

.drawer-menus__item-icon .icon-arrow {
  position: revert;
}

.drawer-menus__item-icon-off {
  display: none;
}

details[open] > .drawer-menus__item .drawer-menus__item-icon-on,
details[open] > .drawer-menus__sub-item .drawer-menus__item-icon-on {
  display: none;
}

details[open] > .drawer-menus__item .drawer-menus__item-icon-off,
details[open] > .drawer-menus__sub-item .drawer-menus__item-icon-off {
  display: flex;
}

@keyframes headerSearchModal {
  0% {
    opacity: 0;
    transform: translateY(-1.5rem);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.header__search .modal__content {
  position: absolute;
}

.header__search details[open] .modal__overlay::after {
  position: absolute;
  top: 100%;
  z-index: initial;
}

.search-modal__content {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 10px 20px;
}

.search-modal__close-button {
  margin-left: 4px;
  padding: 12px;
  margin-right: 8px;
}

.search-modal__close-button .icon {
  width: 16px;
  height: 16px;
}

@media screen and (max-width: 959px) {
  .search-modal__close-button .icon {
    width: 10px;
    height: 10px;
  }
}

.search-modal__form {
  position: relative;
  flex: 1 0 0;
}

@media screen and (max-width: 959px) {
  .search-modal__form {
    position: static;
  }

  .search-modal__form .predictive-search {
    border-top: 1px solid rgb(var(--color-entry-line));
  }
}

.search-modal__field {
  position: relative;
  margin: 0;
}

.search-modal__input {
  height: 60px;
  padding: 28px 68px 10px 20px;
}

@media screen and (max-width: 959px) {
  .search-modal__input {
    height: 38px;
    padding: 16px 68px 4px 20px;
  }
}

.search-modal__field-label {
  width: calc(100% - 68px);
  left: 20px;
}

.search-modal__submit-button {
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
  width: 68px;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  color: inherit;
}

.predictive-search {
  --predictive-search-result-padding: 20px;

  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  background: rgb(var(--color-page-background));
  border-radius: 0 0 var(--menu-modal-border-radius)
    var(--menu-modal-border-radius);
}

.predictive-search__head {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: var(--predictive-search-result-padding) 0
    calc(var(--predictive-search-result-padding) / 2) 0;
  color: rgb(var(--color-light-text));
  text-transform: uppercase;
  border-bottom: 1px solid rgb(var(--color-entry-line));
  margin: 0 var(--predictive-search-result-padding);
}

.predictive-search__head .predictive-search__spinner {
  display: none;
}

.predictive-search__head .predictive-search__rusults {
  text-transform: initial;
}

.predictive-search__list-item > * {
  padding: calc(var(--predictive-search-result-padding) / 2);
  transition: color 0.3s, background 0.3s;
}

.predictive-search__list-item[selected="true"] > *,
.predictive-search__list-item:hover > * {
  color: rgb(var(--color-text));
  background-color: rgba(var(--color-text), 0.08);
}

.predictive-search__item {
  display: grid;
  grid-template: "image content" auto / auto 1fr;
  gap: var(--predictive-search-result-padding);
  align-items: center;
}

.predictive-search__item-image {
  display: block;
  width: 62px;
  height: 62px;
  grid-area: image;
  object-fit: cover;
  object-position: center;
}

@media screen and (max-width: 959px) {
  .predictive-search__item-image {
    width: 56px;
    height: 56px;
  }
}

.predictive-search__item-content {
  grid-area: content;
  justify-content: center;
}

.predictive-search__item-head {
  margin: 0;
}

.predictive-search__item-price {
  margin: 0;
}

.predictive-search__item-price .line-through {
  text-decoration: line-through;
  opacity: 0.5;
}

.predictive-search__term {
  margin: var(--predictive-search-result-padding);
}

.predictive-search__term-icon {
  display: inline-flex;
  transition: transform 0.3s;
  width: 20px;
  height: 20px;
}

.predictive-search__spinner {
  display: inline-flex;
  animation: button-loading linear 1.5s infinite;
}

.predictive-search__spinner .icon {
  width: 15px;
  height: 15px;
}

.predictive-search__loading-state {
  display: none;
  align-items: center;
  justify-content: center;
  padding: 14px;
}

.predictive-search__results {
  overflow: hidden;
  overflow-y: auto;
}

predictive-search[data-focus][open] .predictive-search,
predictive-search[data-focus][loading] .predictive-search {
  display: block;
}

predictive-search[data-focus][loading]
  .predictive-search__results:empty
  ~ .predictive-search__loading-state {
  display: flex;
}

predictive-search[data-focus][loading]
  .predictive-search__head
  .predictive-search__spinner {
  display: flex;
}

.predictive-search__results-list {
  display: grid;
  /* row-gap: var(--predictive-search-result-padding);
  column-gap: var(--predictive-search-result-padding); */
  margin-top: calc(var(--predictive-search-result-padding) / 2);
  padding: 0 calc(var(--predictive-search-result-padding) / 2);
}

.search-modal__content[data-col="4"] .predictive-search__results-list {
  grid-template-columns: repeat(4, 1fr);
}

.search-modal__content[data-col="3"] .predictive-search__results-list {
  grid-template-columns: repeat(3, 1fr);
}

.search-modal__content[data-col="2"] .predictive-search__results-list {
  grid-template-columns: repeat(2, 1fr);
}

.search-modal__content[data-col="1"] .predictive-search__results-list {
  grid-template-columns: repeat(1, 1fr);
}

/* The ipad end responds to the mobile end in vertical screen */

/* @custom-media --tablet (max-width: 959px); */

/* @custom-media --gt-mobile (min-width: 751px); */

/* detectingScreen need to consider the configuration of the tablet */
