.collection-hero {
  position: relative;
  flex-direction: column;
}
.collection-hero .collection-hero__image-wrapper {
  position: relative;
  display: flex;
}
.collection-hero .collection-hero__inner {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
.collection-hero .collection-hero__text-wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  --color-text: 255, 255, 255;
  color: rgb(var(--color-text));
}
.collection-hero .collection-hero__image {
  width: 100%;
  height: 470px;
  object-fit: cover;
}
.collection-hero .collection-hero__description {
  margin-top: 20px;
}
@media (max-width: 959px) {
  .collection-hero .collection-hero__description {
    margin-top: 10px;
  }
}

.collection-hero:not(.has-collection-image) .collection-hero__title {
  margin-top: 40px;
}

@media (max-width: 959px) {
  .collection-hero:not(.has-collection-image) .collection-hero__title {
    margin-top: 20px;
  }
}

/* The ipad end responds to the mobile end in vertical screen */

/* @custom-media --tablet (max-width: 959px); */

/* @custom-media --gt-mobile (min-width: 751px); */

/* detectingScreen need to consider the configuration of the tablet */
