.simple-blog__tag {
  font-size: 14px;
  opacity: 0.6;
}

.blogs__list-wrapper {
  width: 100%;
}

.blogs__list {
  list-style: none;
  padding-inline-start: 0;
  margin-block-end: 0;
}

@media (min-width: 960px) {
  .blogs__list--list .simple-blog {
    align-items: flex-start;
    display: flex;
    text-align: left;
  }
  .blogs__list--list .simple-blog__image-wrapper {
    align-self: stretch;
    margin-bottom: 0;
    margin-right: 40px;
    max-width: 458px;
    width: 35%;
  }
  .blogs__list--list .simple-blog__image-wrapper .global-image {
    height: 100%;
    width: 100%;
  }
  .blogs__list--list .simple-blog__main {
    flex: 1 0 0;
    overflow: hidden;
  }
  .blogs__list--list .simple-blog__extra-info {
    justify-content: flex-start;
  }
  .blogs__list--list .simple-blog__extra-info .text:last-child {
    flex: 1 0 0;
    max-width: none;
  }
  .blogs__list--list .simple-blog__description {
    padding: 0;
  }
}

.stage-blogs-btn {
  margin-top: 30px;
  text-align: center;
}

.blogs__head {
  align-items: center;
  display: flex;
  justify-content: center;
  margin-bottom: 40px;
}

.blogs__head--no-title {
  flex-direction: row-reverse;
}

@media (max-width: 959px) {
  .blogs__head--no-title {
    margin-bottom: 0;
  }
}

.blogs__btn-wrapper {
  margin-top: 48px;
}

.simple-blog:not(.blog-card-style-card) .simple-blog__main {
  margin-bottom: 20px;
}

@media (max-width: 959px) {
  .blogs__head {
    margin-bottom: 20px;
  }
  .blogs__item:not(:last-child) {
    margin-bottom: 10px;
  }
  .simple-blog:not(.blog-card-style-card) .simple-blog__main {
    margin-bottom: 0px;
  }
}

/* The ipad end responds to the mobile end in vertical screen */

/* @custom-media --tablet (max-width: 959px); */

/* @custom-media --gt-mobile (min-width: 751px); */

/* detectingScreen need to consider the configuration of the tablet */
